* { margin: 0; padding: 0; }
body { font: 14px/1.4 Georgia, serif; }

article, aside, figure, footer, header, nav, section { display: block; }

h1 {
    font-size: 3em;
}

.hide {
    display: none;
}

body, h1 {
    color: gray;
}

#quiz-wrapper {
    position: relative;
    font-size: 2em;
}

#quiz-answer-warning {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#quiz-answer-warning {
    background-color: #f22;
    color: #222;
}

#quiz-answer-warning p {
    position: absolute;
}

#quiz-answer-warning img {
    vertical-align: middle;
}

#quiz-login p {
    text-align: right;
}

#logged-user {
    padding: 0 10px;
}

header h1 {
    display: inline-block;
}

#quiz-register-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

#quiz-register {
    position: relative;
    margin: 150px auto 0;
    width: 300px;
    padding: 15px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: rgba(150, 50, 50, 1);
    box-sizing: border-box;
}

.register-data {
    position: relative;
    display: block;
    width: 90%;
    margin: 15px auto;
    box-sizing: border-box;
}

.register-controls {
    position: relative;
    margin: auto;
    width: 50%;
    border: none;
    box-sizing: border-box;
}

#register-warning {
    position: relative;
    width: 400px;
    margin: 5px auto;
    padding: 15px;
    background-color: rgba(3, 3, 3, 0.5);
    border: 2px solid #000;
    border-radius: 10px;
    box-sizing: border-box;
}

.code {
    font-family: monospace;
    background-color: rgba(3, 3, 3, 0.5);
}
